#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=true
Type=Application
Name=BioImageIT
Exec=sh /home/leom/BioImageIT/BioImageIT.sh
Icon=/home/leom/BioImageIT/icon.ico
