#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Stadia
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=pnkcfpnngfokcnnijgkllghjlhkailce
Icon=chrome-pnkcfpnngfokcnnijgkllghjlhkailce-Default
StartupWMClass=crx_pnkcfpnngfokcnnijgkllghjlhkailce
OnlyShowIn=Old;
